<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- bean definitions here -->
		
		<bean class="com.ninfinity.setterinjection.collection.Person" name="person1">
			<property name="personName" value="person1"/>
			
			<property name="friends">
				<list>
					<value>Omkar</value>
					<value>Kiran</value>
					<value>Om</value>
				</list>
			</property>
			
			<property name="certificate">
				<set>
					<value>OCA</value>
					<value>OCJP</value>
					<value>JPTL</value>
				</set>
			</property>
			
			<property name="courses">
				<map>
					<entry key="JAVA" value="Two Months"/>
					<entry key="DSA" value="Three Months"/>
				</map>
			</property>
			
			<property name="credentials">
				<props>
					<prop key="userName">ARJUN</prop>
					<prop key="password">Virus</prop>
				</props>
			</property>
		
		</bean>
		
</beans>